.btn {
    padding: 15px 15px;
    color: white;
    max-width: 150px;
    background-color: #2D3142;
    border-radius:  4rem; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    align-items: center;
    font-size:2rem ;
  }

  
  
  .btn:hover{
    box-shadow: 0px 4px 5px #000000;
  }