.cartList{
    border-spacing: 0;
    border-radius: 5px;
    border: solid 1px #2D3142;  
    width: 95%;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  }
  
  .cartList_head{
    background-color: #2D3142(106, 244, 75);;
    margin: 8px auto;
  }
  .background{
    background-color: #2D3142;
  }
  .cartList_row{
    line-height: 56px;
  }
  
  .cartList_detail{
    color: #2D3142;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
  }
  .btn{
    padding: 5px 15px;
    color: rgb(15, 16, 15);
    background-color: rgb;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    box-shadow: 0px 5px 3px #2D3142;
  }

  h1{
    color: #2D3142;
    text-align: center;
    text-size:2rem;
  }
 th{
    color: #2D3142;
    font-size: 2rem;
  }