.cartList{
    border-spacing: 0;
    border-radius: 5px;
    border: solid 1px #2D3142;  
    width: 95%;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  }
  
  .cartList_head{
    background-color: #2D3142(106, 244, 75);;
    margin: 8px auto;
  }
  .background{
    background-color:gray;
  }
  .cartList_row{
    line-height: 56px;
  }
  
  .cartList_detail{
    color: #2D3142;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
  }
  .button3 {
    padding: 15px 15px;
    color: white;
    max-width: 150px;
    background-color: #2D3142;
    border-radius:  4rem; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    align-items: center;
    font-size:2rem ;
  }

  
  
  .button3:hover{
    box-shadow: 0px 4px 5px #000000;
  }

  h1{
    color: #2D3142;
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }
 th{
    color: #2D3142;
    font-size: 2rem;
  }

  td{
    font-size: 2rem;
    color:#2D3142;
  }

  h4{
    color: #2D3142;
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }

  label{
    font-size: 2rem;
    color:#2D3142;
    margin: 1.5rem;
  }