h2.titulo{
    font-size: 5rem;
    color: #2D3142;
    text-align: center;
    margin-bottom: 5rem;
}

p.titulo{
    font-size: 2.5rem;
    color: #2D3142;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: justify;
    padding: 5rem;
}

div.video-responsive.titulo{
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
        overflow: hidden;
      }
      
.video-responsive iframe {
        height: 400px;
      }